.course-carde-containers {
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .carde {
    width: 10rem;
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed with margin included */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background: #fcdff0;
    box-shadow: 5px 5px 8px #ff99e5, -5px -5px 8px #fa8ff1;
    transition: transform 0.4s ease-in-out;
  }
  
  .carde:hover {
    transform: translateY(-10px);
  }
  .carde-title {
    font-size: 18px;
    font-weight: 600;
    color: #b2eccf;
    margin: 15px 0 0 10px;
  }
  
  .carde-image {
    min-height: 170px;
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    box-shadow: inset 5px 5px 3px #2f2f2f,
              inset -5px -5px 3px #333333;
  }
  
  .carde-body {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
  }
  
  .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
  }
  
  .by-name {
    font-weight: 700;
  }